.header {
  background: rgba($od-green, 0);
  width: 100%;
  height: var(--header-height);
  position: absolute;
  top: 0;

  &.header--stick {
    background: rgba($od-green, 0.9);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10;
    transition: all 0.5s 0s ease-in-out ;
  }
}


.header__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($medium) {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    @include breakpoint($medium) {
      display: flex;
      min-width: 20%;
    }
  }

  .nav-list {
    display: none;

    @include breakpoint($medium) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }

    li {
      text-align: center;
      padding: 0 var(--gutter-medium);

      &.active {
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background: var(--regular-white);
          margin: var(--gutter-xsmall) auto 0;
        }
      }
    }

    a {
      color: var(--regular-white);
      font-size: var(--font-size-normal);
      font-weight: var(--font-weight-light);
      letter-spacing: 1px;
      padding: var(--gutter) 0;
      margin: 0 auto;
    }
  }
}

.header-logo {
  width: 50px;
  height: auto;
  margin: 0 var(--gutter);
}
