.my-work {
  background: var(--light-od-green);
  color: var(--gray-medium-xxdark);
  padding: var(--gutter-xxxlarge) 0 var(--gutter-large);

  @include breakpoint($medium) {
    padding: var(--gutter-xxlarge) 0;
  }
}

.my-work__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--gutter-large) var(--gutter-medium);

  @include breakpoint($medium) {
    padding: var(--gutter-large);
    margin: var(--gutter-medium) auto;
  }
}

.my-work__header {
  text-align: center;
  margin: var(--gutter) 0;

  @include breakpoint($medium) {
    margin-top: var(--gutter-large);
  }
}

.my-work__item {
  border-top: 1px solid var(--medium-od-green);
  display: flex;
  flex-direction: column;
  padding: var(--gutter-xlarge) 0;
  margin: 0;

  @include breakpoint($medium) {
    padding: calc(var(--gutter-xlarge) * 2) 0;
    margin: 0 var(--gutter-xsmall) var(--gutter-xsmall) 0;
  }

  &:first-child {
    padding-top: var(--gutter-xlarge);

    @include breakpoint($medium) {
      padding-top: var(--gutter-xxlarge);
    }
  }

}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0 var(--gutter-large);

  @include breakpoint($medium) {
    flex-direction: row;
    margin: 0 var(--gutter) var(--gutter-large);
  }
}

.item-description {
  flex: 2;

  h3 {
    font-size: var(--font-size-xlarge);
    line-height: var(--font-size-xxlarge);
    font-weight: var(--font-weight-demi);
  }

  p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-light);
    line-height: var(--font-size-xmedium-large);
    margin: var(--gutter-medium) 0 var(--gutter-medium);
  }
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 0;

  @include breakpoint($medium) {
    margin-left: var(--gutter-large);
  }

  a {
    min-width: 260px;
    padding: 0;
  }

}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  padding: var(--gutter-medium) 0 0;

  li {
    background: var(--medium-od-green);
    border-radius: 10px;
    color: var(--regular-white);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-light);
    padding: var(--gutter-xsmall) var(--gutter-medium);
    margin: 0 var(--gutter-xsmall) var(--gutter-xsmall) 0;
  }
}

.item-pics {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 2;
  margin: 0;

  @include breakpoint($medium) {
    display: block;
    flex: 1;
  }

  .desktop-pic {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.64);
  }

  .mobile-pic {
    margin: 0 auto;
    width: 80%;
    z-index: 1;

    @include breakpoint($small) {
      margin: 0;
      position: absolute;
      top: 25%;
      right: 0;
      width: 30%;
    }
  }
}
