.quote-section--teal {
  background: var(--ocean-teal);
  padding: var(--gutter-xxlarge) 0;

  .quote-content {
    h2 {
      &:after {
        background: var(--light-ocean-teal);
      }
    }
  }
}

.quote-section--light-teal {
  background: var(--xxlight-ocean-teal);
  color: var(--gray-medium-xxdark);
  padding: var(--gutter-xxlarge) 0;

  .quote-content {
    h2 {
      &:after {
        background: var(--ocean-teal);
      }
    }
  }
}


.quote-section__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--layout-width);
  margin: 0 auto;

  @include breakpoint($medium) {
    flex-direction: row;
  }

  img {
    max-width: 250px;
    border-radius: 50%;
  }
}

.quote-content {
  margin: var(--gutter-xlarge) 0;
  padding: 0 var(--gutter-xxlarge);
  text-align: center;
  display: flex;
  flex-direction: column;

  @include breakpoint($medium) {
    padding-right: var(--gutter-small);
    text-align: left;
    justify-content: center;
  }

  h2 {
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 30%;
      margin: var(--gutter) auto 0;

      @include breakpoint($medium) {
        margin: var(--gutter) 0 0
      }
    }
  }

  h2 {
    font-size: var(--font-size-xmedium-large);
    font-weight: var(--font-weight-light);
    line-height: var(--font-size-xlarge);
    letter-spacing: 1px;
  }


  h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-light);

    a {
      &, &:visited {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
