.skills {
  background: var(--pine-green);
  padding: var(--gutter-xlarge) var(--gutter-xlarge) var(--gutter-xxxlarge);
}

.skills__inner {
  width: var(--layout-width);
  margin: 0 auto;

  h2 {
    color: rgba($regular-white, 0.1);
    font-size: 200px;
    font-weight: var(--font-weight-bold);
    letter-spacing: 10px;
    line-height: 200px;
    text-transform: uppercase;
  }
}
