.skills {
  background: var(--pine-green);
  padding: var(--gutter-xxxlarge) 0 var(--gutter-large);

  @include breakpoint($medium) {
    padding: var(--gutter-xxlarge) var(--gutter-xlarge);
  }
}

.skills__inner {
  max-width: var(--layout-width);
  margin: 0 var(--gutter);
  padding: var(--gutter-large) 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($medium) {
    margin: var(--gutter-medium) auto;
  }

  .skills-headline {
    margin: 0 auto var(--gutter-large) auto;
    max-width: 90%;

    @include breakpoint($medium) {
      max-width: 80%;
    }
  }
}

.skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-lists {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: var(--gutter-xlarge);

  .list-container {
    padding: var(--gutter);
    width: 250px;

    &:last-child {
      margin-right: 0;
    }

    h3 {
      border-bottom: 1px solid var(--regular-white);
      color: var(--light-brown);
      font-size: var(--font-size-medium-large);
      font-weight: var(--font-weight-normal);
      padding-bottom: var(--gutter-xsmall);
      margin-bottom: var(--gutter-xsmall);
    }
  }

  ul {
    margin-left: var(--gutter-large);
  }

  li {
    list-style: unset;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-light);
  }
}

.language-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: var(--gutter-xxxsmall);

  li {
    margin: var(--gutter-xsmall);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
