:root {
  /* Colors */
  --regular-white: #FCFCFC;
  --off-white: #EFF2F3;
  --slate: #404848;
  --slate-dark: #202020;
  --xlight-gray-normal: #EFF2F3;
  --light-gray-normal: #B5C3C7;
  --gray-normal: #D2D7DB;
  --gray-medium-dark: #81898C;
  --gray-medium-xdark: #505857;
  --gray-medium-xxdark: #4A4A4A;
  --off-black: #192325;
  --od-green: #464E4D;
  --medium-od-green: #63786C;
  --light-od-green: #9EACA5;
  --pine-green: #3E594B;
  --light-pine-green: #6F8378;
  --light-blue: #9EC3D9;
  --ocean-teal: #007C8F;
  --light-ocean-teal: #7FBDC7;
  --xlight-ocean-teal: #BFDEE3;
  --xxlight-ocean-teal: #D3E9EC;
  --dark-brown: #8F614D;
  --medium-brown: #BC7B56;
  --light-brown: #D9B299;
  --layout-width: 1160px;
  --header-height: 80px;
  --footer-height: 195px;
  --hero-height: 100vh-var(--header-height);
  /* Font families */
  --serif: 'Lora', serif;
  --sans: 'Open Sans', sans-serif;
  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-demi: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-size-xxxlarge: 5rem;
  --font-size-xxlarge: 4rem;
  --font-size-xlarge: 3rem;
  --font-size-large: 2.5rem;
  --font-size-xmedium-large: 2rem;
  --font-size-medium-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.8125rem;
  --font-size-xsmall: 0.75rem;
  --h1: 5rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 1.5rem;
  --h5: 1.25rem;
  --h6: 1rem;
  /* Gutters */
  --gutter-xxxsmall: 5px;
  --gutter-xsmall: 10px;
  --gutter-small: 15px;
  --gutter: 20px;
  --gutter-medium: 30px;
  --gutter-large: 40px;
  --gutter-xlarge: 60px;
  --gutter-xxlarge: 80px;
  --gutter-xxxlarge: 100px;
  /* Border radius */
  --border-radius: 4px;
  --border-radius-large: 8px;
  /* Easing */
  --ease-fast: 0.12s ease-in-out;
  --ease: 0.2s ease-in-out;
  --ease-slow: 0.32s ease-in-out;
}

* {
  font-smoothing: antialiased;
}

main {
  min-height: 86vh;
}

body {
  color: var(--regular-white);
  background: var(--#ffffff);
  font-family: var(--sans);
  margin: 0;
  padding: 0;
}

.form-control {
  background: white;
  border: 0;
  box-shadow: 0 0.5px 0 0 #D7DDDC;
  color: #404040;
  font-size: 1rem;
  outline: none;
  line-height: 2rem;
  padding: 12px var(--gutter);
  transition: all 0.12s ease-in-out;
}

.form-control:focus::-webkit-input-placeholder {
  color: #BBB;
}

.form-control:focus:-ms-input-placeholder {
  color: #BBB;
}

.form-control:focus::placeholder {
  color: #BBB;
}

.form-control::-webkit-input-placeholder {
  color: #CCC;
  transition: all 0.12s ease-in-out;
}

.form-control:-ms-input-placeholder {
  color: #CCC;
  transition: all 0.12s ease-in-out;
}

.form-control::placeholder {
  color: #CCC;
  transition: all 0.12s ease-in-out;
}

.form-groups {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media (min-width: 480px) {
  .form-groups {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .form-groups .form-group:first-child {
    margin-right: var(--gutter-xsmall);
  }
  .form-groups .form-group:last-child {
    margin-left: var(--gutter-xsmall);
  }
}

.form-groups .form-group {
  -webkit-box-flex: 1;
  flex: 1;
}

.form-group {
  display: -webkit-box;
  display: flex;
  margin-bottom: var(--gutter-small);
  position: relative;
}

.form-group button {
  margin: 0;
}

textarea.form-control {
  min-height: 140px;
}

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  padding: var(--gutter-small) var(--gutter-large);
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.12s ease-in-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--regular-white);
  background: var(--new-blue);
  border-radius: 40px;
  padding: var(--gutter) var(--gutter-large);
}

.button a {
  display: block;
}

.button.button--small {
  font-size: var(--font-size-small);
  min-width: 0;
}

.button.button--primary {
  background: var(--ocean-teal);
  font-size: var(--font-size-xmedium-large);
}

.button.button--primary:hover, .button.button--primary:focus {
  background: #0598af;
}

.button.button--primary:active {
  position: relative;
  bottom: -2px;
}

.button-link {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  padding: var(--gutter-small) var(--gutter-large);
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.12s ease-in-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: left;
  display: block;
  align-items: center;
  min-width: 0;
  transition: none;
}

.button-link img {
  margin-left: var(--gutter-small);
  vertical-align: middle;
}

.button-link--primary {
  color: var(--ocean-teal);
}

.button-link--primary:hover, .button-link--primary:focus {
  color: var(--light-ocean-teal);
  text-decoration: underline;
}

.button-link--invert {
  color: var(--regular-white);
}

.button-outline {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  padding: var(--gutter-small) var(--gutter-large);
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.12s ease-in-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 180px;
  border-radius: 15px;
}

.button-outline.button-outline--primary {
  border: 5px solid var(--light-blue);
}

.button-outline.button-outline--primary:hover, .button-outline.button-outline--primary:focus {
  background: var(--light-blue);
  color: rvar(--gray-medium-dark);
}

.button-outline.button-outline--primary:active {
  position: relative;
  bottom: -2px;
}

html,
body {
  font-size: 16px;
}

h1 {
  font-size: 1.75rem;
  margin: 20px 0 30px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.125rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
  margin: 0 0 var(--gutter);
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-weight: var(--font-weight-demi);
  font-size: 1.25rem;
  margin: 0;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-demi);
}

h6 {
  font-size: var(--font-size-small);
  margin: 0 0 var(--gutter-small);
}

p {
  color: var(--dark-green);
  font-size: 1rem;
  font-weight: var(--font-weight-light);
}

p a {
  color: var(--new-blue);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-green);
}

.header {
  background: rgba(70, 78, 77, 0);
  width: 100%;
  height: var(--header-height);
  position: absolute;
  top: 0;
}

@-webkit-keyframes headerIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes headerIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header.header--stick {
  background: rgba(70, 78, 77, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  transition: all 0.5s 0s ease-in-out;
}

.header__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .header__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .header__inner .nav {
    display: -webkit-box;
    display: flex;
    min-width: 20%;
  }
}

.header__inner .nav-list {
  display: none;
}

@media (min-width: 768px) {
  .header__inner .nav-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 100%;
  }
}

.header__inner .nav-list li {
  text-align: center;
  padding: 0 var(--gutter-medium);
}

.header__inner .nav-list li.active:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--regular-white);
  margin: var(--gutter-xsmall) auto 0;
}

.header__inner .nav-list a {
  color: var(--regular-white);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
  padding: var(--gutter) 0;
  margin: 0 auto;
}

.header-logo {
  width: 50px;
  height: auto;
  margin: 0 var(--gutter);
}

.footer {
  background: var(--gray-medium-xdark);
  min-height: 20%;
  width: 100%;
  padding: var(--gutter) 0;
}

.footer a {
  color: inherit;
}

.footer__inner {
  margin: 0 auto;
  padding: var(--gutter) var(--gutter-large);
  max-width: var(--layout-width);
  width: 100%;
  text-align: right;
}

@media (max-width: 768px) {
  .footer__inner {
    text-align: center;
  }
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-bottom: var(--gutter-large);
}

@media (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.footer__links .nav-list {
  display: -webkit-box;
  display: flex;
  margin: 0;
}

@media (max-width: 768px) {
  .footer__links .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
  }
}

.footer__links .nav-list li {
  padding: 0 var(--gutter) var(--gutter-xsmall);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
}

.footer__social-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: left;
}

@media (max-width: 768px) {
  .footer__social-section {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: var(--gutter);
  }
}

.footer__social-section h2 {
  font-size: var(--font-size-xmedium-large);
  font-weight: var(--font-weight-light);
  letter-spacing: 2px;
  margin: 0;
}

.footer__social-links {
  display: -webkit-box;
  display: flex;
  padding: var(--gutter-small) 0;
  margin: 0;
}

.footer__social-links li {
  padding-right: var(--gutter);
}

@media (max-width: 768px) {
  .footer__social-links li:last-child {
    padding: 0;
  }
}

.footer__fineprint {
  padding: var(--gutter);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #464e4d 0%, rgba(70, 78, 77, 0) 20%), url("/images/jesse-dock.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__inner {
  max-width: var(--layout-width);
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

.hero__cta {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: var(--gutter-medium) var(--gutter-xlarge);
}

.hero__cta .scroll-prompt {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.hero__cta .scroll-prompt h5 {
  color: var(--regular-white);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
  margin: var(--gutter-small) var(--gutter-small) var(--gutter);
}

.hero-headline {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--gutter-large);
}

.hero-headline h2 {
  font-size: var(--font-size-xmedium-large);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-size-xxlarge);
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.hero-headline h2 strong {
  font-weight: var(--font-weight-bold);
}

.hero-headline a {
  margin: 0 auto;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  60% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  60% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.my-expertise {
  background: var(--od-green);
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: var(--gutter-xxxlarge) 0;
}

.my-expertise__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: var(--gutter-large) 0;
}

.my-expertise__heading h2 {
  font-family: var(--serif);
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-size-xxlarge);
  letter-spacing: 6px;
  margin-bottom: var(--gutter-xsmall);
}

.my-expertise__heading h3 {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-xxlarge);
  letter-spacing: 3.5px;
}

.my-expertise__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: var(--gutter-xlarge);
}

@media (min-width: 768px) {
  .my-expertise__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

.my-expertise__list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: var(--gutter-medium);
  max-width: 80%;
}

.my-expertise__list li h4 {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-demi);
  letter-spacing: 2px;
  margin: var(--gutter-medium) 0 var(--gutter);
}

.my-expertise__list li p {
  font-size: var(--font-weight-normal);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-xmedium-large);
  margin: 0;
}

.image-box {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.image-box img {
  width: 100%;
}

.quote-section--teal {
  background: var(--ocean-teal);
  padding: var(--gutter-xxlarge) 0;
}

.quote-section--teal .quote-content h2:after {
  background: var(--light-ocean-teal);
}

.quote-section--light-teal {
  background: var(--xxlight-ocean-teal);
  color: var(--gray-medium-xxdark);
  padding: var(--gutter-xxlarge) 0;
}

.quote-section--light-teal .quote-content h2 {
  color: var(--gray-medium-xxdark);
}

.quote-section--light-teal .quote-content h2:after {
  background: var(--ocean-teal);
}

.quote-section--light-teal .quote-content h3 {
  color: var(--gray-medium-xxdark);
}

.quote-section__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  max-width: var(--layout-width);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .quote-section__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

.quote-section__inner img {
  max-width: 200px;
  border-radius: 50%;
}

.quote-content {
  margin: var(--gutter-xlarge) 0;
  padding: 0 var(--gutter-xlarge);
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media (min-width: 768px) {
  .quote-content {
    padding-right: var(--gutter-small);
    text-align: left;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.quote-content h2:after {
  content: '';
  display: block;
  height: 2px;
  width: 30%;
  margin: var(--gutter) auto 0;
}

@media (min-width: 768px) {
  .quote-content h2:after {
    margin: var(--gutter) 0 0;
  }
}

.quote-content h2 {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-large);
  letter-spacing: 1px;
}

.quote-content h3 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
}

.quote-content h3 a, .quote-content h3 a:visited {
  color: inherit;
  text-decoration: underline;
}

.my-work {
  background: var(--light-od-green);
  color: var(--gray-medium-xxdark);
  padding: var(--gutter-xxxlarge) 0;
}

@media (min-width: 768px) {
  .my-work {
    padding: var(--gutter-xxxlarge) var(--gutter-large);
  }
}

.my-work__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.my-work__heading {
  text-align: center;
  margin-top: var(--gutter-xxxlarge);
}

.my-work__heading h2 {
  font-family: var(--serif);
  font-size: var(--font-size-xxxlarge);
  font-weight: var(--font-weight-bold);
  letter-spacing: 6px;
}

.my-work__heading h4 {
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-large);
  letter-spacing: 5px;
}

.my-work__item {
  border-bottom: 1px solid var(--medium-od-green);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: var(--gutter-xxlarge) 0;
  margin: 0 var(--gutter-large);
}

.my-work__item:last-child {
  border: none;
}

.my-work__item:first-child {
  padding-top: var(--gutter-xxlarge);
}

@media (min-width: 768px) {
  .my-work__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: calc(var(--gutter-xxlarge) * 2) 0;
    margin: 0;
  }
}

.item-pics {
  position: relative;
  -webkit-box-flex: 2;
  flex: 2;
  margin: 0;
}

.item-pics .desktop-pic {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.64);
}

.item-pics .mobile-pic {
  position: absolute;
  top: 60px;
  right: 25px;
  width: 30%;
  z-index: 1;
}

.item-content {
  -webkit-box-flex: 1;
  flex: 1;
}

.item-content h3 {
  font-size: var(--font-size-xmedium-large);
  font-weight: var(--font-weight-demi);
}

.item-content p {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-xmedium-large);
  margin-bottom: 0;
}

.item-content a {
  padding: var(--gutter-medium) 0;
}

.tech-tags {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.tech-tags li {
  background: var(--medium-od-green);
  border-radius: 10px;
  color: var(--regular-white);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
  padding: var(--gutter-xsmall) var(--gutter-medium);
  margin: 0 var(--gutter-xsmall) var(--gutter-xsmall) 0;
}

.contact-cta {
  background: var(--xxlight-ocean-teal);
  padding: calc(var(--gutter-xxlarge) * 2) var(--gutter-large);
}

.contact-cta__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact-cta__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-around;
  }
}

.contact-cta__inner a {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

.contact__heading {
  text-align: center;
}

@media (min-width: 768px) {
  .contact__heading {
    text-align: left;
  }
}

.contact__heading h2 {
  color: var(--ocean-teal);
  font-size: var(--font-size-xmedium-large);
  font-weight: var(--font-weight-bold);
  letter-spacing: 3px;
}

.contact__heading h3 {
  color: var(--gray-medium-xxdark);
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-light);
  letter-spacing: 3px;
}

.skills {
  background: var(--pine-green);
  padding: var(--gutter-xlarge) var(--gutter-xlarge) var(--gutter-xxxlarge);
}

.skills__inner {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.skills__inner h2 {
  color: rgba(252, 252, 252, 0.1);
  font-size: 200px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 10px;
  line-height: 200px;
  margin-bottom: var(--gutter);
  text-transform: uppercase;
}

.skills__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.skills-lists {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.skills-lists .list-container {
  margin-right: var(--gutter-large);
  -webkit-box-flex: 1;
  flex: 1;
}

.skills-lists .list-container:last-child {
  margin-right: 0;
}

.skills-lists .list-container h3 {
  border-bottom: 1px solid var(--regular-white);
  color: var(--light-brown);
  font-size: var(--font-size-medium-large);
  font-weight: var(--font-weight-normal);
  padding-bottom: var(--gutter-xsmall);
  margin-bottom: var(--gutter-xsmall);
}

.skills-lists ul {
  margin-left: var(--gutter-large);
}

.skills-lists li {
  list-style: unset;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-light);
}

.language-logos {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: wrap-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.language-logos li {
  margin: 0 var(--gutter-large) var(--gutter) 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.contact {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(74, 74, 74, 0.3), rgba(74, 74, 74, 0.3)), url("/images/ivy-wall.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: var(--gutter-xxlarge) 0;
}

.contact__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: var(--layout-width);
  width: 100%;
  padding: 0 var(--gutter-medium);
}

.contact__form-wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  flex: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .contact__form-wrap {
    margin-top: 0;
    max-width: 50%;
  }
}

.contact__form-wrap h2 {
  color: var(--regular-white);
  font-family: var(--serif);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-normal);
  letter-spacing: 4px;
  margin: var(--gutter-large) 0;
}

.contact__form-wrap .form-group {
  width: 100%;
}

.contact__form-wrap .form-group:last-child {
  margin: var(--gutter-medium) 0;
}

.contact__form-wrap .form-group .button {
  margin: 0 auto;
}

.contact__form-wrap .contact__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}

.contact__form-wrap .contact__form .row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
}

@media (min-width: 768px) {
  .contact__form-wrap .contact__form .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

.contact__form-wrap .contact__form .row .form-group {
  max-height: 50px;
  margin: 0 0 var(--gutter) 0;
}

@media (min-width: 768px) {
  .contact__form-wrap .contact__form .row .form-group:last-child {
    margin-left: var(--gutter);
  }
}

.contact__form-wrap .contact__form .form-control {
  width: 100%;
}

.picture-window {
  background: url("/images/jesse-computer.jpg") no-repeat bottom center fixed;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 var(--gutter);
}

body {
  background: var(--xlight-gray-normal);
  font-family: var(--sans);
  font-weight: var(--font-weight-normal);
  color: var(--regular-white);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body h1 span,
body h2 span,
body h3 span,
body h4 span,
body h5 span,
body p span {
  display: block;
}

/*# sourceMappingURL=application.css.map */

/*# sourceMappingURL=all.css.map */
