@mixin base-button {
	background: transparent;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-bold);
	letter-spacing: 1px;
	padding: var(--gutter-small) var(--gutter-large);
	outline: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.12s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	@include base-button;
	color: var(--regular-white);
	background: var(--new-blue);
	border-radius: 40px;
	padding: var(--gutter) var(--gutter-large);

	a {
		display: block;
	}

	&.button--small {
		font-size: var(--font-size-small);
		min-width: 0;
	}

	&.button--primary {
		background: var(--ocean-teal);
		font-size: var(--font-size-xmedium-large);

		&:hover,
		&:focus {
			background: var(--light-ocean-teal);
		}

		&:active {
			position: relative;
			bottom: -2px;
		}
	}
}

.button-link {
	@include base-button;
	text-align: left;
	display: block;
  align-items: center;
	min-width: 0;
	transition: none;

	img {
		margin-left: var(--gutter-small);
		vertical-align: middle;
	}

	&--primary {
		color: var(--ocean-teal);

		&:hover,
		&:focus {
			color: var(--light-ocean-teal);
			text-decoration: underline;
		}
	}

	&--invert {
		color: var(--regular-white);
	}
}

.button-outline {
	@include base-button;
	max-width: 180px;
	border-radius: 15px;

	&.button-outline--primary {
		border: 5px solid var(--light-blue);

		&:hover,
		&:focus {
			background: var(--light-blue);
			color: rvar(--gray-medium-dark);
		}

		&:active {
			position: relative;
			bottom: -2px;
		}
	}
}
